<div class="row">
    <h1 class="col-xs-12 page-header">
        Art Editiermodus:    
    </h1>
</div>
<form name="Arteditieren">
    <div class="panel panel-info">
        <div class="panel-heading"><h4>Ändern Sie hier den ausgewählten Datensatz Repositoryart</h4> </div>
        <div class="panel-body">
            <div class="row">
               <div class="col-xs-12 form-group">
                <label>Bezeichnung:</label>
                <input class="form-control"
                type="text"
                ng-model="formControllerArt.BEZEICHNUNG">
            </div>
        </div>

        <div class="row">
           <div class="col-xs-12 form-group">
            <label>Ordnername:</label>
            <input class="form-control" type="text" ng-model="formControllerArt.ORDNERNAME" readonly="">
        </div>
    </div>

    <div class="row">
        <div class="col-xs-4 form-group">
            <form action="#">
                <label for="sel1">Eintragen möglich Neuer Status:</label>
                <select ng-model="formControllerArt.EINTRAGEN_MGL" class="form-control" id="sel1" name="sel1">
                    <option value="0">eintragen nicht möglich</option>
                    <option value="1">eintragen möglich</option>
                </select>
            </form>
        </div>
    </div>

    <a>
        <button type="button" ng-click="formControllerArt.save()" class="btn btn-success" aria-label="Left Align">
            Speichern
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"> </span>
        </button>
    </a>

    <a href="#/artueber">
        <button type="button" class="btn btn-danger" aria-label="Left Align">
            Abbrechen
        </button>
    </a>
</div>
</div>
</form>

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////// NAVBAR /////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a id="brand" class="navbar-brand" href="#/reh">
                <img alt="Brand" src="img/4.png">
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="menu" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" ng-controller="NavbarController">
                <li ng-class="{ active: isActive('/repoueber')}"><a href="#/repoueber">Repositories</a></li>
                <li ng-class="{ active: isActive('/benutzerueber')}"><a href="#/benutzerueber">Benutzer</a></li>
                <li ng-class="{ active: isActive('/artueber')}"><a href="#/artueber">Art</a></li>
            </ul>
            <button type="button" ng-click="logout()" class="btn btn-default navbar-btn"><a href="#/abmeldung">Abmelden</a></button>
        </div>
    </div>
</nav>