<div class="row">
    <h1 class="col-xs-12 page-header">
        Art hinzugüfen:    
    </h1>
</div>
<form name="Arthinzufuegen">
    <div class="panel panel-info">
        <div class="panel-heading"><h4>Fügen Sie hier einen neuen Datensatz Repositoryart hinzu.</h4> </div>
        <div class="panel-body">
            <div class="row">
             <div class="col-xs-4 form-group">
                <label>Bezeichnung:</label>
                <input class="form-control"
                type="text"
                ng-model="formControllerArt.BEZEICHNUNG">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 form-group">
                <label>Ordnername:</label>
                <input class="form-control"
                type="text"
                ng-model="formControllerArt.ORDNERNAME">
            </div>
        </div>

        <div class="row">
            <div class="col-xs-4 form-group">
                <label for="sel1">Eintragen möglich Neuer Status:</label>
                <select class="form-control" type="text" ng-model="formControllerArt.EINTRAGEN_MGL" convert-to-number>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <option value="0">möglich</option>
                        <option value="1">nicht möglich</option>
                    </ul>                    
                </select>
            </div>
        </div>

        <a>
            <button type="button" ng-click="formControllerArt.save()" class="btn btn-success" aria-label="Left Align">
                Speichern
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"> </span>
            </button>
        </a>

        <a href="#/admin/artueber">
            <button type="button" class="btn btn-danger" aria-label="Left Align">
                Abbrechen
            </button>
        </a>
    </div>
</div>
</div>
</form>