<div class="row">
    <h1 class="col-xs-12 page-header">
        <large>Ein neues Repository beantragen</large>
    </h1>
</div>

<form name="Beantragung">


    <div class="panel panel-info">
        <div class="panel-heading"><h4>Bitte wählen Sie das gewünschte Repository aus</h4> </div>
        <div class="panel-body">

                <div class="row">
                    <div class="col-xs-4 form-group">
                        <form action="#">
                            <label for="ART_ID">Art:</label>
                            <select name="ART_ID" id="ART_ID" class="form-control" 
                            ng-model="formControllerRepobeantragen.ART_ID">
                             <option ng-repeat="option in formControllerRepobeantragen.aktivearten" value="{{option.ID}}">{{option.BEZEICHNUNG}}</option>
                            </select>
                        </form>
                    </div>
                </div>

            <div class="row">
                <div class="col-xs-6 form-group">
                    <button type="button" class="btn btn-default" aria-label="Left Align" onclick="beantragen()">
                        Beantragen
                        <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>




    <script>
        function beantragen() {
            alert("Ihr Repository wurde beantragt.");
        }
    </script>

</form>


<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////// NAVBAR /////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a id="brand" class="navbar-brand" href="#/reh">
                <img alt="Brand" src="img/4.png">
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
            <div id="menu" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" ng-controller="NavbarController">
                <li ng-class="{ active: isActive('/ueberpers')}"><a href="#/ueberpers">Persönlicher Bereich</a></li>
                <li ng-class="{ active: isActive('/beantragung')}"><a href="#/beantragung">Repository beantragen</a></li>
            </ul>
            <button type="button" ng-click="logout()" class="btn btn-default navbar-btn"><a href="#/abmeldung">Abmelden</a></button>
        </div>
    </div>
</nav>