<div class="row">
    <h1 class="col-xs-12 page-header">
        <large>Benutzer löschen:</large>
    </h1>
</div>
<form name="Uebersicht">
    <div class="row">
        <div class="col-xs-12 form-group">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>Überblick über alle Benutzer:
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                    <!-- Erste Spalte der Tabelle: -->
                        <tr> <th>Vorname:</th><th>Nachname:</th> <th>E-Mail:</th>  <th></th><th></th></tr>
                        <!-- Weitere Zeilen der Tabelle befüllt mit Daten aus der Datenbank durch ng-repeat: -->
                        <tr ng-repeat="daten in listControllerRepoBenutzer.daten" > 
                            <td>{{daten.VORNAME}}</td>
                            <td>{{daten.NACHNAME}}</td>
                            <td>{{daten.EMAILKENNUNG}}</td>
                            <td><a ui-sref="deleteRepoBenutzer({id: daten.ID, REPOSITORY_ID: daten.REPOSITORY_ID })">
                                <button type="button"  class="btn btn-default" aria-label="Left Align">
                                    Löschen
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"> </span>
                                </button>
                            </a></td>
                        </tr>
                    </table>
                    <!-- Button Abbrechen mit Verlinkung zum vorherigen Template: -->
                    <input action="action"  type="button" onclick="window.history.go(-1); return false;" class="btn btn-danger" aria-label="Left Align" value="Abbrechen" />
                </div>
            </div>
        </div>
    </div>
</form>