<div class="row">
    <h1 class="col-xs-12 page-header">
        <large>Webapp Repositorymanagement</large>
    </h1>
</div>
<form name="Repository">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4>Videoanleitung:
            </h4> 
        </div>
        <div class="panel-body">
        <!-- Rahmen um den Bereich mit dem Video -->
            <div class="alert alert-success">
            <!-- Überschrift -->
                <label>Repository Übersicht und Beantragung:</label>
                <!-- Beschreibung zum Video -->
                <p>Im folgenden Video wird gezeigt, wie Sie sich in der Webapp anmelden und Repositories beantragen:</p>
                <!-- Einbinden des Videos mit Vorschaubild und Alternativtext -->
                <center>
                    <video poster="data/Erstellung.png" class="video" width="914" height="708" poster="video.jpg" controls >
                      <source src="data/AnmeldungBeantragung.mp4" type="video/mp4"></source>
                      Ihr Browser unterstützt das Objekt nicht!
                  </video>
              </center>
          </div>
      </div>
  </div>
  <!-- Erklärung zum Thema Repository -->
  <div class="panel panel-info">
    <div class="panel-heading"><h4>Was ist ein Repository?</h4> </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12 form-group">
                <p style="line-height: 150%">
                    "Ein Repository, ist ein verwaltetes Verzeichnis zur Speicherung und Beschreibung von digitalen Objekten für ein digitales Archiv. Bei den verwalteten Objekten kann es sich beispielsweise um Programme (Software-Repository), Publikationen (Dokumentenserver), Datenmodelle (Metadaten-Repository) oder betriebswirtschaftliche Verfahren handeln. Häufig beinhaltet ein Repository auch Funktionen zur Versionsverwaltung der verwalteten Objekte." - <a href="https://de.wikipedia.org/wiki/Repository">Wikipedia</a></>
                </p>
            </div>
        </div>
    </div>
</div>
</form>