<div class="row">
    <h1 class="col-xs-12 page-header">
        <large>Webapp Repositorymanagement</large>
    </h1>
</div>
<form name="Repository">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4>Videoanleitungen:
            </h4> 
        </div>
        <div class="panel-body">
            <!-- Rahmen um den Bereich mit dem Video -->
            <div class="alert alert-success">
            <!-- Überschrift -->
                <label>Bereich Repository:</label>
                <!-- Beschreibung zum Video -->
                <p>Im folgenden Video wird gezeigt, welche Funktionen Ihnen im Bereich Repository zur Verfügung stehen:</p>
                <center>
                <!-- Einbinden des Videos mit Vorschaubild und Alternativtext -->
                    <video poster="data/Repository.jpg" class="video" width="914" height="708" controls >
                        <source src="data/Repository.mp4" type="video/mp4"></source>
                        Ihr Browser unterstützt das Objekt nicht!
                    </video>
                </center>
            </div>
            <div class="alert alert-success">
                <label>Bereich Benutzer:</label>
                <p>Im folgenden Video wird gezeigt, welche Funktionen Ihnen im Bereich Benutzer zur Verfügung stehen:</p>
                <center>
                    <video poster="data/Benutzer.jpg" class="video" width="914" height="708" controls >
                        <source src="data/Benutzer.mp4" type="video/mp4"></source>
                        Ihr Browser unterstützt das Objekt nicht!
                    </video>
                </center>
            </div>
            <div class="alert alert-success">
                <label>Bereich Art:</label>
                <p>Im folgenden Video wird gezeigt, welche Funktionen Ihnen im Bereich Art zur Verfügung stehen:</p>
                <center>
                    <video poster="data/Art.jpg" class="video" width="914" height="708" controls >
                        <source src="data/Art.mp4" type="video/mp4"></source>
                        Ihr Browser unterstützt das Objekt nicht!
                    </video>
                </center>
            </div>
        </div>
    </div>
</form>