<div class="row">
    <h1 class="col-xs-12 page-header">
        <large>Was ist ein Repository?</large>
    </h1>
</div>

<form name="Repository">

    <div class="panel panel-info">
        <div class="panel-heading"><h4>In a nutshell</h4> </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-xs-12 form-group">
                    <p style="line-height: 150%">
                        "Ein Repository, ist ein verwaltetes Verzeichnis zur Speicherung und Beschreibung von digitalen Objekten für ein digitales Archiv. Bei den verwalteten Objekten kann es sich beispielsweise um Programme (Software-Repository), Publikationen (Dokumentenserver), Datenmodelle (Metadaten-Repository) oder betriebswirtschaftliche Verfahren handeln. Häufig beinhaltet ein Repository auch Funktionen zur Versionsverwaltung der verwalteten Objekte." - <a href="https://de.wikipedia.org/wiki/Repository">Wikipedia</a></>
                    </p>
                </div>
            </div>

        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading"><h4>Einsatz von Repositorys</h4> </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-xs-12 form-group">
                    <p style="line-height: 150%">Repositorys werden oft eingesetzt.</p>
                </div>
            </div>

        </div>
    </div>
</form>