    <div>
        <label>Nachname</label>
        <input type="text" ng-model="formController.NACHNAME">
    </div>
    <div>
        <label>Vorname</label>
        <input type="text" ng-model="formController.VORNAME">
    </div>
    <div>
        <label>Emailkennung</label>
        <input type="text" ng-model="formController.EMAILKENNUNG">
    </div>
    <div>
        <label>Recht_ID</label>
        <input type="text" ng-model="formController.RECHTE_ID">
    </div>
    <div>
        <button ng-click="formController.save()">save</button>
        <button ui-sref="list">cancel</button>
    </div>