    <div>
        <label>Nachname</label>
        <input type="text" ng-model="formController.NACHNAME">
    </div>
    <div>
        <label>Vorname</label>
        <input type="text" ng-model="formController.VORNAME">
    </div>
    <div>
        <label>Emailkennung</label>
        <input type="text" ng-model="formController.EMAILKENNUNG">
    </div>
    <div>
        <label>Recht_ID</label>
        <input type="text" ng-model="formController.RECHTE_ID">
    </div>
  <!--       <label>Reponame</label>
        <input type="text" ng-model="formController.REPONAME">
    </div>
    <div>
        <label>Authname</label>
        <input type="text" ng-model="formController.AUTHNAME">
    </div>
    <div>
        <label>ART</label>
        <input type="text" ng-model="formController.ART_ID">
    </div>
    <div>
        <label>Status</label>
        <input type="text" ng-model="formController.REPO_STATUS_ID">
    </div> -->
    <div>
        <button ng-click="formController.save()">save</button>
        <button ui-sref="list">cancel</button>
    </div>