<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
        <!-- Icon und Verlinkung zum Hilfebereich: -->
            <a id="brand" class="navbar-brand" href="#/admin/reh">
                <img alt="Brand" src="img/reh.png">
            </a>
            <!-- Button zum Ausklappen des Menüs, wenn Menü eingeklappt ist: -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Verlinkungen zu den einzelnen Übersichtsseiten: -->
        <div id="menu" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" ng-controller="NavbarController">
                <li ng-class="{ active: isActive('/admin/repoueber')}"><a href="#/admin/repoueber">Repositories</a></li>
                <li ng-class="{ active: isActive('/admin/benutzerueber')}"><a href="#/admin/benutzerueber">Benutzer</a></li>
                <li ng-class="{ active: isActive('/admin/artueber')}"><a href="#/admin/artueber">Art</a></li>
            </ul>
            <button type="button" ng-click="logout()" class="btn btn-default navbar-btn"><a href="#/ausgeloggt/abmeldung">Abmelden</a>
            </button>
        </div>
    </div>
</nav>
<!-- Container für weiteren Inhalt: -->
<div class="container">
    <div ng-view></div>
</div>
<div class="container">
    <div ui-view></div>
</div>