

<div class="row">
    <h1 class="col-xs-12 page-header">
        <large>Registrierung</large>
    </h1>
</div>

<form name="RegFormular">
    <div class="panel panel-info">
        <div class="panel-heading"><h4>Bitte Geben Sie Ihre Daten an, um sich zu registrieren.</h4> </div>
        <div class="panel-body">


            <div class="row">
                <div class="col-xs-12 form-group">
                    <label style="line-height: 150%">Vorname:</label>
                    <input class="form-control" type="text" placeholder="Vorname" name="Vorname" id="Vorname" value="" ng-model="formControllerBenutzer.VORNAME">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 form-group">
                    <label style="line-height: 150%">Nachname:</label>
                    <input class="form-control" type="text" placeholder="Nachname" name="Nachname" id="Nachname" value="" ng-model="formControllerBenutzer.NACHNAME">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 form-group">
                    <label>E-Mail-Adresse:</label>
                    <div class="input-group">
                        <input type="text" 
                        class="form-control" 
                        placeholder="MustermannMa12345"
                        aria-describedby="basic-addon2"
                        name="Mail" 
                        id="Mail" 
                        value=""
                        ng-model="formControllerBenutzer.EMAILKENNUNG">
                        <span class="input-group-addon" id="basic-addon2">@th-nuernberg.de</span>
                    </div>
                </div>
                <div class="col-xs-12 alert alert-warning"
                    ng-show="RegFormular.Mail.$invalid">
           Bitte geben Sie Ihre Hochschuladresse bis "@th-nuernberg.de" ein.
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 form-group">
                    <label style="line-height: 150%">Passwort:</label>
                    <input class="form-control" 
                    type="text" 
                    placeholder="Passwort" 
                    name="Passwort"
                    type="password" 
                    id="Passwort" 
                    value="">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 form-group">
                    <label style="line-height: 150%">Passwort wiederholen:</label>
                    <input class="form-control" 
                    type="text" 
                    placeholder="Passwort" 
                    name="Passwort1" 
                    type="password"
                    id="Passwort1" 
                    value=""
                    ng-model="formControllerBenutzer.PASSWORT">
                </div>
            </div>


            <div class="row">
                <div class="col-xs-6 form-group">
                    <button type="button" class="btn btn-default" name="regButton" id="regButton" ng-click="formControllerBenutzer.save()">Registrieren</button>
                </div>
            </div>
        </div>
    </div>

    <script>
    	var elem = document.getElementById('regButton');
    	elem.addEventListener('click', checkFormular);

        //Überprüfung der Formularfeldeingaben: 
        function checkFormular(){
            if (document.RegFormular.Vorname.value == ""){
                alert("Bitte geben Sie Ihren Vornamen ein!");
                document.RegFormular.Vorname.focus();  //Positionierung auf fehlerhafte Formularfeldeingabe
                return false;
            }
            if (document.RegFormular.Nachname.value == ""){
                alert("Bitte geben Sie Ihren Nachnamen ein!");
                document.RegFormular.Nachname.focus(); //Positionierung auf fehlerhafte Formularfeldeingabe
                return false
            }
            if (document.RegFormular.Mail.value == ""){
                alert("Bitte geben Sie Ihre TH E-Mail-Adresse an!");
                document.RegFormular.Mail.focus(); //Positionierung auf fehlerhafte Formularfeldeingabe
                return false;
            }
            if (document.RegFormular.Mail.value.indexOf("@") != -1){
                alert("Bitte geben Sie die korrekte E-Mail-Adresse an!");
                document.RegFormular.focus(); //Positionierung auf fehlerhafte Formularfeldeingabe
                return false;
            }
            if (document.RegFormular.Passwort.value == ""){
                alert("Bitte geben Sie ein Passwort ein!");
                document.RegFormular.Passwort.focus();  //Positionierung auf fehlerhafte Formularfeldeingabe
                return false;
            }
            if (document.RegFormular.Passwort1.value == ""){
                alert("Bitte geben Sie ein Passwort ein!");
                document.RegFormular.Passwort1.focus();  //Positionierung auf fehlerhafte Formularfeldeingabe
                return false;
            }
            if (document.RegFormular.Passwort1.value != document.RegFormular.Passwort.value){
                alert("Die Passwörter stimmen nicht überein!");
                document.RegFormular.Passwort1.focus();  //Positionierung auf fehlerhafte Formularfeldeingabe
                return false;
            }
        
        else 
            alert("Ihre Registrierung wurde beantragt. Sie erhalten in kürze eine E-Mail mit Ihren Zugangsdaten.");
        }
    </script>
</form>