<div class="row">
    <h1 class="col-xs-12 page-header">
        <large>Herzlich Willkommen</large> <large id="gruss"></large><large>!</large>
    </h1>
</div>

<form name="Uebersicht">
    <div class="row">
        <div class="col-xs-12 form-group">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>Überblick über alle Repositories:
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table table-hover">
                        <tr> 
                            <th>Art: <br/>
                                <div class="btn-group btn-xs" role="group">
                                    <button ng-click="sortieren = '+ART'" type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"> </span></button>
                                    <button ng-click="sortieren = '-ART'" type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"> </span></button>
                                </div>

                            </th>
                            <th>Authname: <br/>
                                <div class="btn-group btn-xs" role="group">
                                    <button ng-click="sortieren = '+AUTHNAME'" type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"> </span></button>
                                    <button ng-click="sortieren = '-AUTHNAME'" type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"> </span></button>
                                </div>
                            </th> 
                            <th>Pfad: <br/>
                            <div class="btn-group btn-xs" role="group">
                                    <button ng-click="sortieren = '+REPONAME'" type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"> </span></button>
                                    <button ng-click="sortieren = '-REPONAME'" type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"> </span></button>
                                </div>
                            </th> 
                            <th>Zugriffsberechtigte: <br/>
                            <div class="btn-group btn-xs" role="group">
                                    <button ng-click="sortieren = '+ALLE_BENUTZER'" type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"> </span></button>
                                    <button ng-click="sortieren = '-ALLE_BENUTZER'" type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"> </span></button>
                                </div>
                            </th> 
                            <th>Gültigkeit:
                            </th>  
                            <th>Zustand: <br/>
                            <div class="btn-group btn-xs" role="group">
                                    <button ng-click="sortieren = '+REPO_STATUS'" type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"> </span></button>
                                    <button ng-click="sortieren = '-REPO_STATUS'" type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"> </span></button>
                                </div>
                            </th> 
                            <th></th>
                        </tr>
                        <tr ng-repeat="daten in listControllerRepos.daten | orderBy:sortieren">
                            <td>{{daten.ART}}</td>
                            <td>{{daten.AUTHNAME}}</td>
                            <td nowrap> {{daten.REPONAME}}</td>
                            <td>{{daten.ALLE_BENUTZER}}</td>
                            <td>{{daten.GUELTIG_BIS}}</td>
                            <td>{{daten.REPO_STATUS}}</td>
                            <td> 
                                <a ui-sref="repoedit({id: daten.ID})">
                                    <button type="button" class="btn btn-primary" aria-label="Left Align">
                                        Editieren
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"> </span>
                                    </button>
                                </a>
                            </td>
                        </tr>
                    </table>

                    <a href="#/repoerstellen">
                        <button type="button" class="btn btn-info" aria-label="Left Align">
                            Repository erstellen
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span>
                        </button>
                    </a>




                    <button type="button" class="btn btn-success" aria-label="Left Align" onclick="generieren()">
                        Skripte generieren
                        <span class="glyphicon glyphicon-flash" aria-hidden="true"> </span>
                    </button>

                    <!-- Lieber Michael, dieser Button ist der simplere der beiden. Wenn das mit dem modal (anderer button) nicht funktionieren sollte, musst du diesen nehmen. -->
                    <div class="pull-right">
                        <button type="button" class="btn btn-danger" aria-label="Left Align" onclick="generieren()">
                            Repositories aus DB löschen
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"> </span>
                        </button> 
                    </div>

                    <!-- Lieber Michael, hier unten ist der coole Button, bei dem noch nachgefragt wird, ob du dir sicher bist die daten zu löschen ;-) Gruß Philipp -->
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
                        Repositories aus DB löschen
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"> </span>
                    </button>
                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabel">Repositories aus DB löschen</h4>
                                </div>
                                <div class="modal-body">
                                    Möchten sie alle Repositories, mit dem Status "gelöscht" endgültig aus der Datenbank löschen?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Daten Löschen</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////// NAVBAR /////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a id="brand" class="navbar-brand" href="#/reh">
                <img alt="Brand" src="img/4.png">
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
            <div id="menu" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" ng-controller="NavbarController">
                <li ng-class="{ active: isActive('/repoueber')}"><a href="#/repoueber">Repositories</a></li>
                <li ng-class="{ active: isActive('/benutzerueber')}"><a href="#/benutzerueber">Benutzer</a></li>
                <li ng-class="{ active: isActive('/artueber')}"><a href="#/artueber">Art</a></li>
            </ul>
            <button type="button" ng-click="logout()" class="btn btn-default navbar-btn"><a href="#/abmeldung">Abmelden</a></button>
        </div>
    </div>
</nav>