<div class="row">
    <h1 class="col-xs-12 page-header">
        <large>Herzlich Willkommen</large> <large id="gruss"></large><large>!</large>
        </large>
    </h1>
</div>
<div ng-show="name == 'user'" class="row">
<h3>Test</h3>
</div>
<form name="Registrierung">
    <div class="row">
        <div class="col-xs-12 form-group">
            <h4 style="line-height: 150%">Sie sind jetzt angemeldet.</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 form-group">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3>Überblick über Ihre Repositorys:</h3>
                </div>
                    <table class="table table-hover">
                        <tr> 
                            <th>Art: <br/>
                                <div class="btn-group btn-xs" role="group">
                                    <button ng-click="sortieren = '+ART'" type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"> </span></button>
                                    <button ng-click="sortieren = '-ART'" type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"> </span></button>
                                </div>

                            </th>
                            <th>Authname: <br/>
                                <div class="btn-group btn-xs" role="group">
                                    <button ng-click="sortieren = '+AUTHNAME'" type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"> </span></button>
                                    <button ng-click="sortieren = '-AUTHNAME'" type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"> </span></button>
                                </div>
                            </th> 
                            <th>Pfad: <br/>
                            <div class="btn-group btn-xs" role="group">
                                    <button ng-click="sortieren = '+REPONAME'" type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"> </span></button>
                                    <button ng-click="sortieren = '-REPONAME'" type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"> </span></button>
                                </div>
                            </th> 
                            <th>Zugriffsberechtigte: <br/>
                            <div class="btn-group btn-xs" role="group">
                                    <button ng-click="sortieren = '+ALLE_BENUTZER'" type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"> </span></button>
                                    <button ng-click="sortieren = '-ALLE_BENUTZER'" type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"> </span></button>
                                </div>
                            </th> 
                            <th>Gültigkeit:
                            </th>  
                            <th>Zustand: <br/>
                            <div class="btn-group btn-xs" role="group">
                                    <button ng-click="sortieren = '+REPO_STATUS'" type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-triangle-top" aria-hidden="true"> </span></button>
                                    <button ng-click="sortieren = '-REPO_STATUS'" type="button" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"> </span></button>
                                </div>
                            </th> 
                            <th></th>
                        </tr>
                        <tr ng-repeat="daten in listControllerReposUser.daten | orderBy:sortieren">
                            <td>{{daten.ART}}</td>
                            <td>{{daten.AUTHNAME}}</td>
                            <td nowrap>{{daten.REPONAME}}</td>
                            <td>{{daten.ALLE_BENUTZER}}</td>
                            <td>{{daten.GUELTIG_BIS}}</td>
                            <td>{{daten.REPO_STATUS}}</td>
                        </tr>
                    </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 form-group">
            <a href="#/ausgeloggt/abmeldung">
                <button type="button" class="btn btn-default" aria-label="Left Align">
                            Abmelden
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"> </span>
                </button>
            </a>
        </div>
    </div>
</form>
