<div class="row">
    <h1 class="col-xs-12 page-header">
        Repository editieren:
    </h1>
</div>
<form name="Repositoryeditieren">

    <div class="panel panel-info">
        <div class="panel-heading"><h4>Ändern Sie hier den ausgewählten Datensatz Repository</h4> </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-xs-12 form-group">
                    <label>Repositoryname</label>
                    <input class="form-control" type="text" ng-model="formControllerRepo.REPONAME" readonly="">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 form-group">
                    <label>Art</label>
                    <input class="form-control" type="text" ng-model="formControllerRepo.ART_ID">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 form-group">
                    <label>Authname</label>
                    <input class="form-control" type="text" ng-model="formControllerRepo.AUTHNAME">
                </div>
            </div>


            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label>Zugriffsberechtigte</label>


<!--                             <div class="row">
                                <div class="col-xs-12 form-group">

                                    <table class="table table-hover">
                                        <tr> <th>Name</th> <th>E-Mail</th> <th></th><th></th></tr>

                                        <tr>    <!-- Darstellung der Zugriffsberechtigten, aber wie???  
                                            <td>{{test.Vorname}}</td>
                                            <td>{{test.}}</td>

                                            <td><a ui-sref="deleteBenutzer({id: test.ID})">
                                                <button type="button"  class="btn btn-default" aria-label="Left Align">
                                                    Löschen
                                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"> </span>
                                                </button>
                                            </a></td>
                                        </tr>
                                    </table>
                                </div>
                            </div> -->

<!--                             <script language="javascript" type="text/javascript"> 
                                var id_repo_ue = 1;
                            </script> -->





                            <div> <input class="form-control" type="text" ng-model="formControllerRepo.ALLE_BENUTZER" readonly="">
                            </div> 
                        </div>
                    </div>

                    <div class="row">

                        <div class="line">
                            <div class="col-xs-2 form-group">
                                <a ui-sref="benutzerentf({id: $stateParams})">
                                    <button type="button" class="btn btn-primary" aria-label="Left Align">
                                        Benutzer löschen!
                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"> </span>
                                    </button>
                                </a> 
                            </div>
                        </div>

                        <div class="line">
                            <div class="col-xs-2 form-group">
                                <a href="#/benutzerhinzu">
                                    <button type="button" class="btn btn-success" aria-label="Left Align">
                                        Benutzer hinzufügen!
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    </button>
                                </a>
                            </div>
                        </div>

                    </div>


                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 form-group">
                    <label>Gültigkeit</label>
                    <input class="form-control"
                    type="text"
                    ng-model="formControllerRepo.GUELTIG_BIS">
                </div>
            </div>


            <div class="row">
                <div class="line">
                    <div class="col-xs-2 form-group">
                        <label>Aktueller Status:</label>
                        <div> <input class="form-control" type="text" ng-model="formControllerRepo.REPO_STATUS_ID" readonly="">
                        </div> 
                    </div>
                </div>

                <div class="line">
                    <div class="col-xs-2 form-group">
                        <form action="#">
                            <label for="sel1">Neuer Status:</label>
                            <select ng-model="formControllerRepo.REPO_STATUS_ID_NEU" class="form-control" id="sel1" name="ID" id="ID" value="">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </form>
                    </div>
                </div>

            </div>

                <div class="row">
                    <div class="col-xs-2 form-group">
                        <label>Status:</label>
                        <p> 1: beantragt</p>
                        <p> 2: aktiviert</p>
                        <p> 3: deaktiviert</p>
                        <p> 4: gelöscht</p>
                    </div>
                </div>
            





            <a>
                <button type="button" ng-click="formControllerRepo.save()" class="btn btn-success" aria-label="Left Align">
                    Speichern
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"> </span>
                </button>
            </a>

            <a href="#/repoueber">
                <button type="button" class="btn btn-danger" aria-label="Left Align">
                    Abbrechen
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"> </span>
                </button>
            </a>
        </div>
    </div>







<!--     <script>
        var elem = document.getElementById('regButton');
        elem.addEventListener('click', checkFormular);

        //Überprüfung der Formularfeldeingaben: 
        function checkFormular(){
            if (document.RegFormular.ID.value == ""){
                alert("Bitte geben Sie die korrekte E-Mail-Adresse an!");
                document.RegFormular.focus(); //Positionierung auf fehlerhafte Formularfeldeingabe
                return false;
            }
        
        else 
            alert("Ihre Registrierung wurde beantragt. Sie erhalten in kürze eine E-Mail mit Ihren Zugangsdaten.");
        }
    </script> -->



























</form>

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////// NAVBAR /////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a id="brand" class="navbar-brand" href="#/reh">
                <img alt="Brand" src="img/4.png">
            </a>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div id="menu" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" ng-controller="NavbarController">
                <li ng-class="{ active: isActive('/professor')}"><a href="#/repoueber">Repositories</a></li>
            </ul>
            <ul class="nav navbar-nav" ng-controller="NavbarController">
                <li ng-class="{ active: isActive('/professor')}"><a href="#/benutzerueber">Benutzer</a></li>
            </ul>
            <ul class="nav navbar-nav" ng-controller="NavbarController">
                <li ng-class="{ active: isActive('/professor')}"><a href="#/artueber">Art</a></li>
            </ul>
            <button type="button" class="btn btn-default navbar-btn"><a href="#/abmeldung">Abmelden</a></button>
        </div>
    </div>
</nav>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div id="menu" class="collapse navbar-collapse">
            <nav aria-label="...">
                <ul class="nav navbar-nav" ng-controller="NavbarController">
                    <li>
                        <ul class="pager">
                            <li><a href="#/repoueber">Repositories</a></li>
                            <li><a href="#/benutzerueber">Benutzer</a></li>
                            <li><a href="#/artueber">Art</a></li>
                            <li><a href="#/abmeldung">Abmelden</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</nav> -->