<div class="row">
    <h1 class="col-xs-12 page-header">
        Repository editieren:
    </h1>
</div>
<form name="Repositoryeditieren">

    <div class="panel panel-info">
        <div class="panel-heading"><h4>Ändern Sie hier den ausgewählten Datensatz Repository</h4> </div>
        <div class="panel-body">
            <div class="row">
             <div class="col-xs-12 form-group">
                <label>Art</label>
                <input class="form-control" type="text" ng-model="formControllerRepo.ART_ID">
            </div>
        </div>

        <div class="row">
         <div class="col-xs-12 form-group">
            <label>Authname</label>
            <input class="form-control" type="text" ng-model="formControllerRepo.AUTHNAME">
        </div>
    </div>

    <div class="row">
     <div class="col-xs-12 form-group">
        <label>Repositoryname</label>
        <input class="form-control" type="text" ng-model="formControllerRepo.REPONAME">
    </div>
</div>

<div class="row">
 <div class="col-xs-12 form-group">
    <label>Zugriffsberechtigte</label>
    <div> <input class="form-control" type="text" ng-model="formControllerRepo.ALLE_BENUTZER"
        readonly="">
    </div> 
</div>
</div>

<div class="line">
 <div class="col-xs-6 form-group">
     <label></label>
     <a href="#/benutzerentf">
        <button type="button" class="btn btn-primary" aria-label="Left Align">
            Benutzer löschen!
            <span class="glyphicon glyphicon-remove" aria-hidden="true"> </span>
        </button>
    </a> 
</div>
</div>

<div class="line">
 <div class="col-xs-6 form-group">
  <label></label>

  <a href="#/benutzerhinzu">
    <button type="button" class="btn btn-success" aria-label="Left Align">
        Benutzer hinzufügen!
        <span class="glyphicon glyphicon-plus" aria-hidden="true"> </span>
    </button>
</a>
</div>
</div>




<div class="row">
    <div class="col-xs-6 form-group">
        <label>Status</label>
        <div class="input-group">
            <input class="form-control" type="text" ng-model="formControllerRepo.REPO_STATUS_ID" readonly="">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ändern <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#">beantragt</a></li>
                    <li><a href="#">aktiviert</a></li>
                    <li><a href="#">deaktiviert</a></li>
                    <li><a href="#">gelöscht</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>







<div class="row">
 <div class="col-xs-12 form-group">
    <label>Gültigkeit</label>
    <input class="form-control"
    type="text"
    ng-model="formControllerRepo.GUELTIG_BIS">
</div>
</div>




<a>
    <button type="button" ng-click="formControllerRepo.save()" class="btn btn-success" aria-label="Left Align">
        Speichern
        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"> </span>
    </button>
</a>

<a href="#/repoueber">
    <button type="button" class="btn btn-danger" aria-label="Left Align">
        Abbrechen
        <span class="glyphicon glyphicon-remove" aria-hidden="true"> </span>
    </button>
</a>


</div>
</div>
</form>

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////// NAVBAR /////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<!-- <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a id="brand" class="navbar-brand" href="#/reh">
                <img alt="Brand" src="img/4.png">
            </a>

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div id="menu" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" ng-controller="NavbarController">
                <li ng-class="{ active: isActive('/professor')}"><a href="#/repoueber">Repositories</a></li>
            </ul>
            <ul class="nav navbar-nav" ng-controller="NavbarController">
                <li ng-class="{ active: isActive('/professor')}"><a href="#/benutzerueber">Benutzer</a></li>
            </ul>
            <ul class="nav navbar-nav" ng-controller="NavbarController">
                <li ng-class="{ active: isActive('/professor')}"><a href="#/artueber">Art</a></li>
            </ul>
            <button type="button" class="btn btn-default navbar-btn"><a href="#/abmeldung">Abmelden</a></button>
        </div>
    </div>
</nav>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div id="menu" class="collapse navbar-collapse">
            <nav aria-label="...">
                <ul class="nav navbar-nav" ng-controller="NavbarController">
                    <li>
                        <ul class="pager">
                            <li><a href="#/repoueber">Repositories</a></li>
                            <li><a href="#/benutzerueber">Benutzer</a></li>
                            <li><a href="#/artueber">Art</a></li>
                            <li><a href="#/abmeldung">Abmelden</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</nav> -->