<div class="row">
    <h1 class="col-xs-12 page-header">
        Repository hinzufügen:
    </h1>
</div>
<form name="Repositoryeditieren">

    <div class="panel panel-info">
        <div class="panel-heading"><h4>Erstellen Sie hier den Datensatz zu einem neuen Repository</h4> </div>
        <div class="panel-body">

            <div class="row">
                <div class="line">
                    <div class="col-xs-6 form-group">
                        <label>Repositoryname:</label>
                        <input class="form-control" 
                        type="text" 
                        ng-model="formControllerRepo.REPONAME"
                        placeholder="Bitte legen Sie hier den Repositoryname fest.">
                    </div>
                </div>



                <div class="line">
                    <div class="col-xs-4 form-group">
                        <form action="#">
                            <label for="ART_ID">Art:</label>
                            <select name="ART_ID" id="ART_ID" class="form-control" ng-model="formControllerRepo.ART_ID">
                                <option ng-repeat="option in formControllerRepo.repoart" value="{{option.ID}}">{{option.BEZEICHNUNG}}</option>
                            </select>
                        </form>
                    </div>
                </div>
                </div>


            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 form-group">
                            <label>Zugriffsberechtigte:</label>
                            <div> <input class="form-control" 
                            type="text" 
                            ng-model="formControllerRepo.ALLE_BENUTZER" 
                            readonly=""
                            placeholder="Standartmäßig werden Sie hier eintragen.">
                            </div> 
                        </div>
                    </div>

                    <p>Bitte legen Sie das Repository erst an und fügen dann per "Editieren" weitere Benutzer hinzu.</p>
                </div>
            </div>

            <div class="row">            
                <div class="line">
                    <div class="col-xs-4 form-group">
                        <label>Authname:</label>
                        <input class="form-control" 
                        type="text" 
                        ng-model="formControllerRepo.AUTHNAME"
                        placeholder="Bitte Authname hier eintragen.">
                    </div>
                </div>

                <div class="line">
                    <div class="col-xs-4 form-group">
                        <label>Gültigkeit:</label>
                        <input class="form-control"
                        type="text"
                        ng-model="formControllerRepo.GUELTIG_BIS"
                        placeholder="TT.MM.JJJJ">
                    </div>
                </div>


                <div class="line">
                    <div class="col-xs-4 form-group">
                        <form action="#">
                            <label for="REPO_STATUS_ID">Status:</label>
                            <select name="REPO_STATUS_ID" id="REPO_STATUS_ID" class="form-control" ng-model="formControllerRepo.REPO_STATUS_ID">
                                <option ng-repeat="option in formControllerRepo.repostatus" value="{{option.ID}}">{{option.BEZEICHNUNG}}</option>
                            </select>
                        </form>
                    </div>
                </div>
            </div>

            <a>
                <button type="button" ng-click="formControllerRepo.save()" class="btn btn-success" aria-label="Left Align">
                    Speichern
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"> </span>
                </button>
            </a>

            <a href="#/repoueber">
                <button type="button" class="btn btn-danger" aria-label="Left Align">
                    Abbrechen
                </button>
            </a>
        </div>

    </div>
</div>
</form>

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////// NAVBAR /////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a id="brand" class="navbar-brand" href="#/reh">
                <img alt="Brand" src="img/4.png">
            </a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
            <div id="menu" class="collapse navbar-collapse">
            <ul class="nav navbar-nav" ng-controller="NavbarController">
                <li ng-class="{ active: isActive('/repoueber')}"><a href="#/repoueber">Repositories</a></li>
                <li ng-class="{ active: isActive('/benutzerueber')}"><a href="#/benutzerueber">Benutzer</a></li>
                <li ng-class="{ active: isActive('/artueber')}"><a href="#/artueber">Art</a></li>
            </ul>
            <button type="button" ng-click="logout()" class="btn btn-default navbar-btn"><a href="#/abmeldung">Abmelden</a></button>
        </div>
    </div>
</nav>